@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Unbounded:wght@300&display=swap');
*
{
   margin: 0;
   padding: 0;
}
img {
    max-width: 100%;
    height: 100%;
    border-radius: 50px;
    margin-left: 0;
    
  }
body{
    
    background-image: linear-gradient(to right, #434343 0%, black 100%);}
.nav-container
{
    height: 100vh;
    width: 100%;
}
.web-name
{
    color: white;
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
}
nav{
    margin-top: 20px;
    background-image: none;
    background-color: none;
    display: flex;
    height: 70px;
    align-items: center;
    font-family: 'Unbounded', cursive;
    justify-content: space-evenly;
    padding: 0;
}
nav ul{
    display: flex;
   
}
nav ul li{
    list-style: none;
    padding: 8px;
    margin-right:  50px; 
    
}
a{
    text-decoration: none;
    color: white;
    font-style: italic;
    font-weight: bold;
    background-color: black;
    font-size: 20px;
}
a:hover
{
    background-color: white;
    color:black;
}
.back-video
{
    position: fixed;
    z-index: -1;
    top: 0;
    height: 100%;
    width: 100%;
    
    
}
@media(max-aspect-ratio:16/9)
{
    .back-video
    {
        width: auto;
        height: 100%;
    }
}
.det-container
{
    margin: 30px;
    display: flex;
    margin-top: 100px;

    justify-content: space-around;
    border-style: solid;
    border-width: thin;
    border-color: aliceblue;
    align-items: center;
}
.src
{
    margin: 20px;
    border-style: solid;
    border-width: thin;
    border-color: white;
    color: white;
    width: 200px;
    text-align: center;
    border-radius: 100px;
}